*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.keystore
*.jks
**/build/
.kotlin/

# build logs / sdk path
workspace_*.log
workspace_emu.log
local.properties
